@using CVgrupp2Main.DatabasLager
@model IEnumerable<Person>
@{
    ViewData["Title"] = "Sökresultat";
}

<link rel="stylesheet" type="text/css" href="~/css/Sökresultat.css">
<link rel="stylesheet" type="text/css" href="~/css/Size.css">

<h2>Sökresultat</h2>
<div class ="search-box">
<div class="search-results-container">
    @if (!Model.Any())
    {
            <p>Inga resultat</p>
    }
    else
    {
        @foreach (var user in Model)
        {
                    <div class="search-item">
                        <h3>@user.Förnamn @user.Efternamn</h3>
                        <p>@user.Användarnamn</p>
                        <a asp-controller="CV" asp-action="VisaCVsida" asp-route-användarnamn="@user.Användarnamn" class="btn-details">Visa CV</a>
                    </div>
        }
    }
</div>
</div>



@* 
@using CVgrupp2Main.DatabasLager
@model IEnumerable<Person>
@{
    ViewData["Title"] = "Sökresultat";
}

<link rel="stylesheet" type="text/css" href="~/css/Sökresultat.css">
<link rel="stylesheet" type="text/css" href="~/css/Size.css">

<h2>@ViewData["Title"]</h2> *@
@* <div class ="search-box">
<div class="search-results-container">
    @if (!Model.Any())
    {
            <p>Inga resultat</p>
    }
    else
    {
        @foreach (var user in Model)
        {
                    <div class="search-item">
                        <h3>@user.Förnamn @user.Efternamn</h3>
                        <p>@user.Användarnamn</p>
                        <a asp-controller="CV" asp-action="VisaCVsida" asp-route-användarnamn="@user.Användarnamn" class="btn-details">Visa CV</a>
                    </div>
        }
    }
</div>
</div> *@




@* @using CVgrupp2Main.DatabasLager
@model IEnumerable<Person>
@{
    ViewData["Title"] = "Sökresultat";
}

<link rel="stylesheet" type="text/css" href="~/css/Sökresultat.css">
<link rel="stylesheet" type="text/css" href="~/css/Size.css">

<h2>@ViewData["Title"]</h2>
<div class="sökresultat-container">
    @if (!Model.Any())
    {
        <p>Inga resultat</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Namn</th>
                    <th>Åtgärd</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Förnamn @user.Efternamn</td>
                        <td><a asp-controller="CV" asp-action="VisaCVsida" asp-route-användarnamn="@user.Användarnamn" class="btn btn-primary btn-sm">Visa CV</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


 *@